@font-face {
	font-family: 'Gothic';
	src: url("gothic.ttf");
}


html, body { 
	height: 100%;
	margin:0;padding:0;
	font-family: 'Gothic', 'Century Gothic', sans-serif;
}

#global_container {
  position:absolute;
  top:0;
  right:0;left:0;
  padding:80px 0 0 0 ;
  background-color: #fff;
}

#header_bar {
  position: absolute;
  top:0;
  left:0;right:0;
  height: 80px;
  background-color: rgba(255,255,255,0.95);
}


/*
 *  STYLE FOR THE GLOBAL CONTAINER
 */
.container_section {
  padding: 90px 0px 90px 0px ;
  background: rgba(0,0,0,0.1);
}

.container_inner_section {
	position: relative;
	width: 1000px;
	margin: auto auto;
}

#banner_home {
	position: relative;
  	background-image: url(../images/homepage_banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#home_title {
	position: relative;
	float: right;
	font-size: 60px;
	text-align: left;
	color: rgba(255,255,255,0.8);
	max-width: 45%;
	margin-top: 105px;
	font-weight: 900;
	-webkit-transition:all 1s ease;
}

#login {
	position: absolute;
	margin-top: 105px;
	width: 45%;
	height: 300px;
	top: 0;
	right: 0;
	display: none;
}

#login input {
	font-family: inherit;
	padding: 10px;
	width: 90%;
	border-radius: 5px;
	font-size:20px;
	margin-bottom: 20px;
} 

#login input:focus {
	-webkit-transition:all 0.5s ease;
	border: 0 0 10px #00adee;
	border:2px solid #00adee;
	outline: none;
}

#lower_home_title {
	position: relative;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 20px;
	text-align: right;
	font-weight: 100;
}

/*
 *  USEFUL STYLE PROPERTIES
 */
.hidden {
	display:none;
}

.shown {
	display:block;
}

.no_border {
	background-color: none;
	border:none;
	float:left;
	padding-right: 20px;
}

.button {
	margin-right: 10px;
	padding: 10px 20px 10px 20px;
	font-size: 20px;
	color:rgba(255,255,255,0.9); 
	text-align: center;
	text-shadow: 0px 1px 1px #000;
	cursor: pointer;
}


}
/*
 *	INNER BANNER STYLE
 */





/*
 *	INNER SECTION STYLE
 */
.section_title {
	font-size: 50px;
}


